<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
  </head>

  <body>

    <div class="container">
      <div class="logo">
        <a href="/app.component.html"><img src="/assets/images/Kainos-MAP-229x100-Logo.png" style="height:100px; width:229px; opacity: 1.0; padding:0;" alt="Kainos MAP Engineering Academy logo"></a>
        <div class="title">Training Hub</div>
      </div>
      <!-- ./logo -->
      <div class="block"></div>

      <a href="default.asp">
        <div class="box-half">
          <img src="/assets/images/Employee.jpg" style="opacity: 0.6; filter: alpha(opacity=30); width: 90%; height: 60%; padding: 5%;" alt="Link to Employee">
          <div class="text">Employee</div>
        </div>
      </a>

      <a href="default.asp">
        <div class="box-half">
          <img src="/assets/images/Trainer.jpg" style="opacity: 0.6; filter: alpha(opacity=30); width: 90%; height: 60%; padding: 5%;" alt="Link to Employee">
          <div class="text">Trainer</div>
        </div>
      </a>

      <a href="default.asp">
        <div class="box-full">
          <img src="/assets/images/Admin.jpg" style="opacity: 0.6; filter: alpha(opacity=30); width: 50%; height: 60%; padding-top: 0%; padding-left:25%" alt="Link to Employee">
          <div class="text">MAP Admin</div>
        </div>
      </a>
    </div>
    <!-- ./container -->
  </body>