<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
  </head>
  <body>
    <div class="box-half">
      <img src="/assets/images/Employee.jpg" style="opacity: 0.6; filter: alpha(opacity=30); width: 90%; height: 60%; padding: 5%;" alt="Link to Employee">
          <a routerLink="/course" routerLinkActive="active"><div class="text">Employee</div></a>
    </div>
    <div class="box-half">
      <img src="/assets/images/Trainer.jpg" style="opacity: 0.6; filter: alpha(opacity=30); width: 90%; height: 60%; padding: 5%;" alt="Link to Employee">
      <div class="text">Trainer</div>
    </div>

    <div class="box-full">
      <img src="/assets/images/Admin.jpg" style="opacity: 0.6; filter: alpha(opacity=30); width: 75%; height: 60%; padding-top: 0%; padding-left:25%" alt="Link to Employee">
      <div class="text">MAP Admin</div>
    </div>
  </body>