<form>
    <fieldset>
        <legend>Add course</legend>
        <div><input name="courseName" placeholder="Course name"></div>
        <div><input name="courseDate" type="Date" placeholder="Course date"></div>
        <div><input name="location" placeholder="Location"></div>
        <div><input name="description" placeholder="Description"></div>
        <div><input name="courseTrainer" placeholder="Course trainer"></div>
        <div><input name="info" placeholder="Info"></div>
    </fieldset>
</form>